{% extends "layout.html" %}
{% block content %}
	<div class="container-md content">
		<h1>Detectar comunidades</h1>
		<div class=myspan>
			<span>La red debe de estar representada como una lista de enlaces del grafo</span><br>
			<span>Los archivos deben tener formato .csv</span>
		</div>
		<form method=POST enctype=multipart/form-data>
			{{form.hidden_tag()}}
			<div>
				{{form.file(class="form-control form-control-lg")}}
			</div>
			
			<div class="form-check form-check-inline distributed">
				{{form.method.label()}}

				{%for subfield in form.method %}
					{{subfield}}
					{{subfield.label(class="form-check-label")}}
				{% endfor %}

			</div>
			

			<div>
				{{form.submit(class="btn btn-primary btn-lg")}}
			</div>
		</form> 
	</div>
{% endblock content %}